/* AddThis Widget Styling Overrides */

.atss-right {
    left: 980px !important;
    z-index: 1000 !important;
}

#at4-soc#at4-soc {
    top:calc(20% - 20px) !important;
    left: 990px;
}

.slideInRight {
    animation-name: fadeInRight !important;
}

.slideOutRight {
    animation-name: fadeOutRight !important;
}

.slideInRight,
.slideOutRight {
    animation-timing-function: cubic-bezier(0, 1.30, 0.5, 0.95);
    animation-duration: 150ms;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}
