* {
    background: transparent !important;
    color: #000 !important;
    overflow: visible !important;
}

a:link:after,
a:visited:after,
a:hover:after,
a:active:after {
    content: " <" attr(href) "> ";
    font-size: 90%;
    color: #555;
}

a[href^="mailto"]:after {
    content: "";
}

acronym[title]:after,
abbr[title]:after {
    content: ' (' attr(title) ')';
}

body, html {
    height: auto;
    margin: 0 3%;
}

body, p {
    font-size: 10pt !important;
}
h1, .h1 {
    font-size: 16pt !important;
}

h2, .h2, .entity-title {
    font-size: 14pt !important;
}

h3, .h3, .tool-item-category {
    font-size: 12pt !important;
}

.button, .entity-manage-action-list, .site-navigation-top, .list-sorting-navigation, .button-bar, .organisation-logo, .admin-actions, .tool-item-rating-info-container {
    display: none;
}

.pagination .pagenr, .pagination .entry.link {
    display: none;
}

.pagination .entry:before {
    content: "Seite: "
}

.tool-item-status-info {
    border: none;
    padding: 0;
    margin-top: 1cm;
}

.manage .tool-item-status {
    border-bottom: none !important;
}

.training-manage-container, .tool-item {
    padding: 0;
    margin: 0 0 1cm 0;
    border-top: none;
    border-bottom: 1px dotted #000;
    display: block;
    page-break-inside: avoid;
}

.tool-item-wide .aside, .tool-item-wide .tool-item-meta, .tool-item-data .aside, .aside, .tool-item-references, .tool-item {
    display: block;
    float: none;
    clear: both;
    width: 100%;
    border: none;
    page-break-inside: avoid;
    padding-top: 0.5cm;
    margin-bottom: 0 !important;
}

.tool-content, .site-body {
    margin: 0;
    padding: 0;
}

.tool-content-twocol .main-col, .tool-item-wide .tool-item-short-description {
    width: 100%;
    margin-right: 0;
}

.tool-item-compact .tool-item-deadline {
    border:  none !important;
    padding: 0 !important;
    font-weight: bold;
}

.wayfinder-location, .wayfinder {
    padding: 0;
    margin: 0.5cm 0;
    border-bottom: none;
}

.status-indicator {
    border: none !important;
    font-weight: bold;
}

.tool-item-disclaimer {
    display: none;
}

.hidden {
    display: none;
}